
.BlogList-container {
  width: 720px;
  margin: 20px auto;
}

.BlogList-generalTitle {
  font-size: 24px;
  text-transform: uppercase;
  color: #0a1244;
  font-weight: 600;
  margin-bottom: 30px;

}

.BlogList-wrapper {
  min-height: 70px;
  border-bottom: 1px solid #dadada;
  margin: 0 -20px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BlogList-wrapper:hover {
  cursor: pointer;
  background-color: rgba(242,244,247,.5);
}

.BlogList-title {
  font-size: 16px;
  line-height: 1;
  color: #0c1148;
  margin-bottom: 8px;
}

.BlogList-author {
  font-size: 13px;
  line-height: 1.23;
  color: rgba(11, 16, 71, 0.5);
}

.BlogList-date {
  font-size: 13px;
  color: rgba(11, 16, 71, 0.5);
}

.BlogList-button {
  margin-top: 40px;
}